<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data from SQLite</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="header"><h1>История запросов</h1></div>
    <input id="b-back" type="button" onclick="location.href='/'" value="Back" />
    <input id="b-clear" type="button" onclick="location.href='/db-data-cleared'" value="Clear history">
    <table border="3"  cellspacing="0" align="center" style="background: rgba(185, 87, 34, 0.8);">
        <tr>
            <th>Дата операции</th>
            <th>Исходное число</th>
            <th>Конвертированное число</th>
        </tr>
        {% for date, number, convert_number in data %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ number }}</td>
                <td>{{ convert_number }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>